In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [3]:
train.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [4]:
train.shape

(6368, 15)

In [5]:
test.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price
0,SCHE4YSTDVPVZVXW,39.0,2016-01-13 07:45:08.000,205,Ivanka,No,Fashion,0,90,0,380.0,16.0,2576.0,3340
1,ACCEGCATKHNRXUHW,49.0,2015-08-23 20:37:05.000,3,Isaak,Yes,Fashion,0,87,0,393.0,16.0,1202.0,1955
2,NKCE6GJ5XVJDXNNZ,1.0,2015-11-14 18:12:39.000,183,Analiese,No,Technology,2,55,0,493.0,9.0,7175.0,15715
3,NKCEB8BK3ZXDHDHM,8.0,2015-11-21 04:56:19.000,358,Rusty,Yes,Child_care,3,86,0,303.0,16.0,5404.0,13078
4,TOPEFDXSAHRNPF94,33.0,2015-05-06 15:09:46.000,167,Eloise,No,Technology,0,27,0,567.0,16.0,4069.0,6244

In [6]:
test.shape

(3430, 14)

In [7]:
#replcaing null values
train.isnull().sum()

Product_id            0
Stall_no              5
instock_date          0
Market_Category       0
Customer_name       211
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       38
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
dtype: int64

In [8]:
train['Stall_no'].fillna(train['Stall_no'].mean(), inplace = True)
train["Discount_avail"].fillna(train["Discount_avail"].mean(),inplace=True)
train["charges_1"].fillna(train["charges_1"].mean(),inplace=True)
train["charges_2 (%)"].fillna(train["charges_2 (%)"].mean(),inplace=True)
train["Minimum_price"].fillna(train["Minimum_price"].mean(),inplace=True)
train["Maximum_price"].fillna(train["Maximum_price"].mean(),inplace=True)
train["Selling_Price"].fillna(train["Selling_Price"].mean(),inplace=True)

In [9]:
train.isnull().sum()

Product_id            0
Stall_no              0
instock_date          0
Market_Category       0
Customer_name       211
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail        0
charges_1             0
charges_2 (%)         0
Minimum_price         0
Maximum_price         0
Selling_Price         0
dtype: int64

In [10]:
test.isnull().sum()

Product_id           0
Stall_no             1
instock_date         0
Market_Category      0
Customer_name       53
Loyalty_customer     0
Product_Category     0
Grade                0
Demand               0
Discount_avail       0
charges_1           36
charges_2 (%)        5
Minimum_price       14
Maximum_price        0
dtype: int64

In [11]:
test['Stall_no'].fillna(test['Stall_no'].mean(), inplace = True)
test["charges_1"].fillna(test["charges_1"].mean(),inplace=True)
test["charges_2 (%)"].fillna(test["charges_2 (%)"].mean(),inplace=True)
test["Minimum_price"].fillna(test["Minimum_price"].mean(),inplace=True)
test["Maximum_price"].fillna(test["Maximum_price"].mean(),inplace=True)

In [12]:
test.isnull().sum()

Product_id           0
Stall_no             0
instock_date         0
Market_Category      0
Customer_name       53
Loyalty_customer     0
Product_Category     0
Grade                0
Demand               0
Discount_avail       0
charges_1            0
charges_2 (%)        0
Minimum_price        0
Maximum_price        0
dtype: int64

In [13]:
train.shape

(6368, 15)

In [14]:
test.shape

(3430, 14)

In [15]:
#encoding categorical vaules
train["Loyalty_customer"].value_counts()

Yes    3887
No     2481
Name: Loyalty_customer, dtype: int64

In [16]:
train["Product_Category"].value_counts()

Pet_care       682
Repair         676
Child_care     658
Cosmetics      649
Hospitality    632
Technology     620
Organic        620
Home_decor     617
Educational    610
Fashion        604
Name: Product_Category, dtype: int64

In [17]:
train["Loyalty_customer"]=train["Loyalty_customer"].replace(["No ","Yes"],[0,1])
train["Product_Category"]=train["Product_Category"].replace(["Pet_care","Repair","Child_care","Cosmetics","Hospitality","Technology","Organic","Home_decor","Educational","Fashion"],[1,2,3,4,5,6,7,8,9,10])

In [18]:
test["Loyalty_customer"]=test["Loyalty_customer"].replace(["No ","Yes"],[0,1])
test["Product_Category"]=test["Product_Category"].replace(["Pet_care","Repair","Child_care","Cosmetics","Hospitality","Technology","Organic","Home_decor","Educational","Fashion"],[1,2,3,4,5,6,7,8,9,10])

In [19]:
train.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,1,10,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,1,10,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,1,3,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,1,9,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,1,2,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [20]:
test.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price
0,SCHE4YSTDVPVZVXW,39.0,2016-01-13 07:45:08.000,205,Ivanka,0,10,0,90,0,380.0,16.0,2576.0,3340
1,ACCEGCATKHNRXUHW,49.0,2015-08-23 20:37:05.000,3,Isaak,1,10,0,87,0,393.0,16.0,1202.0,1955
2,NKCE6GJ5XVJDXNNZ,1.0,2015-11-14 18:12:39.000,183,Analiese,0,6,2,55,0,493.0,9.0,7175.0,15715
3,NKCEB8BK3ZXDHDHM,8.0,2015-11-21 04:56:19.000,358,Rusty,1,3,3,86,0,303.0,16.0,5404.0,13078
4,TOPEFDXSAHRNPF94,33.0,2015-05-06 15:09:46.000,167,Eloise,0,6,0,27,0,567.0,16.0,4069.0,6244

In [21]:
#defining X and y
X_train=train.iloc[:,[1,3,5,6,7,8,9,10,11,12,13]].values
y_train=train.iloc[:,-1].values
X_test=test.iloc[:,[1,3,5,6,7,8,9,10,11,12,13]].values

In [22]:
#regression models

In [23]:
#from sklearn.svm import SVR
#regressor = SVR(kernel = 'linear')
#regressor.fit(X_train, y_train)

In [24]:
#from sklearn.linear_model import LinearRegression
#regressor = LinearRegression()
#regressor.fit(X_train, y_train)

In [25]:
#from sklearn.tree import DecisionTreeRegressor
#regressor = DecisionTreeRegressor(splitter="best",random_state = 0)
#regressor.fit(X_train,y_train)

In [183]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators= 200,random_state=42,max_features="auto")
regressor.fit(X_train,y_train)

RandomForestRegressor(n_estimators=200, random_state=0)

In [184]:
y_pred = regressor.predict(X_test)

In [185]:
y_pred.shape

(3430,)

In [186]:
ID = test['Product_id']

In [187]:
#y_pred=np.clip(y_pred,a_min =0,a_max =22638.325941)
min(y_pred)

96.93813684599998

In [188]:
max(y_pred)

19978.775114355023

In [189]:
final_data= pd.DataFrame((zip(ID,y_pred)),columns=['Product_id','Selling_Price'])

In [190]:
final_data

            Product_id  Selling_Price
0     SCHE4YSTDVPVZVXW    3230.180426
1     ACCEGCATKHNRXUHW    1935.882241
2     NKCE6GJ5XVJDXNNZ   11427.142265
3     NKCEB8BK3ZXDHDHM    9386.952805
4     TOPEFDXSAHRNPF94    5616.518057
...                ...            ...
3425  BBAE9K7BXFUTDNBK    3984.777383
3426  RTRDYPA4PJHCJCGF    9082.099610
3427  TUNE8FWQBS7TVVT7    6459.037229
3428  NKCEGMUABCRGUZPE    3603.600250
3429  RNGE7M92KAQWUBCS    1226.759393

[3430 rows x 2 columns]

In [191]:
final_data.to_csv('output.csv',index= False)